
// NEED TO SPLIT INTO MORE SASS
// SORRY FOR UGLY FILE, I'M WORKING ON IT

@import "./sass/variables";
@import "./sass/typography";
@import "./sass/hover";

* {
   margin: 0;
   padding: 0;
   font-size: 10px;
}

.frontPage {
   background-image: linear-gradient($tertiaryBackColor, $tertiaryBackColor), url(./sass/city.jpg);

}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
   border-bottom: 5px solid $secondaryFontColor;

   #links {
      display: none;
   }

   .sub__heading,
   .menu>a {
      font-weight: 500;
      text-decoration: none;
      color: $secondaryFontColor;
   }

   .sub__heading {
      font-size: 3rem;
      margin: 10px 15px;
      font-family: $primaryFont;
   }

   .menu>a {
      font-size: 4.8rem;
      padding: 5px 15px;
      margin: 2px;
   }

}

.header {
   padding: 60px 11% 120px;
   display: grid;
   grid-template-areas:
      "intro"
      "arrow-d";
   gap: 80px;
   margin: auto;
   max-width: 354px;

   * {
      font-size: 5rem;
      color: $primaryFontColor;
   }

   a {
      grid-area: arrow-d;
      text-align: center;
   }

}


.header__h1 {
   font-weight: 500;
   font-family: $primaryFont;
   color: $secondaryFontColor;
   grid-area: intro;

   .header__break {
      color: $secondaryFontColor;
   }

   .header__name {
      color: $primaryFontColor;
   }



}

main {
   background-color: $primaryBackColor;

   .main__heading {
      text-align: center;
      font-family: $primaryFont;
      font-size: 4rem;
      font-weight: 500;
      color: $primaryFontColor;
      border-top: 5px solid $secondaryFontColor;
      margin: 10%;
      margin-top: 40px;
      padding-top: 20px;
   }
}

.block {
   height: 40px;
}

.about__grid {
   display: grid;
   grid-template-areas:
      "aDesc1"
      "aDesc2"
      "aImage";
   margin: 0 10%;
   gap: 20px;

   .about__image {
      background-color: $secondaryFontColor;
      height: 250px;
      margin: auto;
      grid-area: aImage;
   }

   .about__paragraph {
      color: $secondaryFontColor;
      font-size: 1.8rem;
   }

   .paragraph__one {
      grid-area: aDesc1;
   }
   .paragraph__two {
      grid-area: aDesc2;
   }
}

#experience__grid {
   display: grid;
   grid-template-areas:
      "html  css js"
      "sass boot node";
   text-align: center;
   padding-top: 20px;
   height: 50rem;

   * {
      color: $primaryFontColor;
      font-size: 5rem;
   }

   :nth-child(3n+2) {
      border-left: 5px solid $secondaryFontColor;
      border-right: 5px solid $secondaryFontColor;
   }

   .experience__html {
      grid-area: html;
   }

   .experience__css {
      grid-area: css;
   }

   .experience__js {
      grid-area: js;
   }
   .experience__sass {
      grid-area: sass;
   }
   .experience__boot {
      grid-area: boot;
   }
   .experience__node {
      grid-area: node;
   }
}

.projects__grid {
   display: grid;
   grid-template-areas:
      "pImage  pImage pImage"
      "arrowL tHead arrowR"
      "pDesc pDesc pDesc";
   text-align: center;
   gap: 20px;
   margin: 0 10%;

   .projects__image {
      background-color: $secondaryFontColor;
      height: 250px;
      margin: auto;
   }    
      .tertiary__heading {
      font-family: $secondaryFont;
      color: $secondaryFontColor;
   }
      .project__description {
         font-family: $secondaryFont;
      color: $secondaryFontColor;
      }
   
   #image__1 {
      grid-area: pImage;
   }
   .arrow-l {
      grid-area: arrowL;
   }

   .arrow-r {
      grid-area: arrowR;
   }
  

   #tertiary__1 {
      font-size: 3rem;
      color: $secondaryFontColor;
      grid-area: tHead;
   }

   .project__description {
      font-size: 1.8rem;
      font-family: $secondaryFont;
      color: $secondaryFontColor;
      grid-area: pDesc;
   }
   #description__1 {
      font-size: 1.8rem;
      grid-area: pDesc;
   }
}


.arrow__r:hover {
   transform: translateX(0.2rem);
   transition: transform 0.2s;
}
.hide {
   display: none;
}

.contact__grid {
   display: grid;
   grid-template-areas:
      "mailIcon mailIcon"
      "email email"
      "cv linkedin"
      "github github";
   text-align: center;
   gap: 50px;
   margin: auto;
   margin: 0 10%;
   padding-bottom: 60px;

   * {
      color: $primaryFontColor;
      font-size: 5rem;
   }

   .contact__email {
      font-family: $secondaryFont;
      color: $secondaryFontColor;
      font-size: 2rem;
      grid-area: email;
      padding: 0px 0 50px;
      border-bottom: 5px solid $secondaryFontColor;
      margin: 0 5%;
   }

   .contact__mailIcon {
      grid-area: mailIcon;
   }

   .contact__cv {
      grid-area: cv;
   }

   .contact__linkedin {
      grid-area: linkedin;
   }

   .contact__github {
      grid-area: github;
   }
}

#footer {
   background-image: linear-gradient($tertiaryBackColor, $tertiaryBackColor), url(./sass/city.jpg);
   height: 80px;

   .copyright {
      color: $secondaryFontColor;
      font-family: $secondaryFont;
      font-size: 2rem;
   }
}



// try to make "I'm" start a new line
@media screen and (min-width:768px) {
   * {
      font-size: 15px;
   }

   nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 5px solid $secondaryFontColor;
   
      #links {
         display: flex;
         span>a {
         margin-right: 1rem;
         text-decoration: none;
         font-size: 1.5rem;
         font-family: $primaryFont;
         color: $secondaryFontColor;
      }
   }
      .menu>a {
         display: none;
      }
   }

   .header {
      max-width: 400px;
   }

   main {
      .main__heading {
         font-size: 3.2rem;
         font-weight: 500;
         border-top: 5px solid $secondaryFontColor;
         margin: 80px 10% 40px;
         padding-top: 40px;
      }
   }

   .about__grid {
      display: grid;
      grid-template-areas:
      "aImage aDesc1"
      "aDesc2 aDesc2";
      margin: 0 10%;
      gap: 80px;
   }
   .about__paragraph {
      color: $secondaryFontColor;
      font-size: 1.4rem;
   }
   .paragraph__one {
      grid-area: aDesc1;
   }
   .paragraph__two {
      grid-area: aDesc2;
   }



.projects__grid {
   display: grid;
   grid-template-areas:
      "arrowL pImage pImage2 arrowR"
      ". tHead tHead2 ."
      ". pDesc pDesc2 .";
      text-align: left;
   gap: 20px;
   margin: 0 5%;
   .arrow__P {
      margin: 100px 0 auto;
   }
   #image__2 {
      grid-area: pImage2;
   }

   #tertiary__1 {
      font-size: 3rem;
   }

   #tertiary__2 {
      font-size: 3rem;
      grid-area: tHead2;
   }
   #description__1 {
      font-size: 1.1rem;
   }
   #description__2 {
      font-size: 1.1rem;
      grid-area: pDesc2;
   }
}
.hide {
   display: flex;
}.hide2 {
   display: none;
}
}

@media screen and (min-width:1024px) {
   * {
      font-size: 20px;
   }

   .header {
      max-width: 600px;
   }


   main {
      .main__heading {
         font-size: 3.2rem;
         font-weight: 500;
         border-top: 5px solid $secondaryFontColor;
         margin: 200px 10% 60px;
         padding-top: 60px;
      }
   }

   .about__grid {
      display: grid;
      grid-template-areas:
      "aImage aDesc1"
      "aImage aDesc2";
      margin: 0 10%;
      .about__image {
         background-color: $secondaryFontColor;
         height: 400px;
         width: 300px;
         margin: auto;
         grid-area: aImage;
      }
      .about__paragraph {
         color: $secondaryFontColor;
         font-size: 1.4rem;
      }
   }
   .projects__grid {
      display: grid;
      grid-template-areas:
         "arrowL pImage pImage2 pImage3 arrowR"
         ". tHead tHead2 tHead3."
         ". pDesc pDesc2 pDesc3 .";
         text-align: left;
      gap: 20px;
      margin: 0 5%;
      .arrow__P {
         margin: 100px 0 auto;
      }

      #image__3 {
         grid-area: pImage3;
      }
   
      #tertiary__1 {
         font-size: 2rem;
      }
      #tertiary__2 {
         font-size: 2rem;
        
      }
      #tertiary__3 {
         font-size: 2rem;
         grid-area: tHead3;
      }
      #description__1 {
         font-size: 1rem;
      }
      #description__2 {
         font-size: 1rem;
      
      }
      #description__3 {
         font-size: 1rem;
         grid-area: pDesc3;
      }
   }
   .hide {
      display: flex;
   }
   .hide2 {
      display: flex;
   }
   .hide3 {
      display: none;
   }
}
// phone width 320px
// ipad width 768px 
// Desktop 1024px
//do break point at 768 and 1024